.title__price{
    text-align: center;
    margin-top: 2rem;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.6rem;
}
.article__basic{
    border: 1px solid #FB3B64;
    border-radius: 1.1rem;
    position: relative;
    width: 18rem;
    height: 15rem;
    margin-left: 2.56rem;
    margin-top: 2rem;
    

    &__title{
        margin-top: 4.37rem;
        margin-left: 3.1rem;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 1.5rem;
        color: #13253B;
        position: absolute;
    }

    &__price{
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 2.8rem;
        line-height: 4rem;
        color: #FB3B64;
        margin-left: 2.8rem;
        margin-top: 6rem;
        position: absolute;
    }

    &__list{
        margin-left: 10rem;
        margin-top: 4rem;
        list-style: none;
        position: absolute;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.2rem;

        &__date{
            margin-bottom: 0.5rem ;
        }
    }

    &__button{
        position: absolute;
        border-radius: 1.5rem;
        background: #EB476E;
        border: transparent;
        color: white;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 1.1rem;
        padding-left: 3.3rem;
        padding-right: 3.3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 13.2rem;
        margin-left: 4.5rem;
    }
}
.article__professional{
    position:relative;
    margin-top: 3rem;
    border: 1px solid #07ACE6;
    border-radius: 1.1rem;
    box-shadow: 5px 10px 27px 0px #07ACE64A;
    width: 21.18rem;
    height: 17.31rem;
    margin-left: 1rem;

    &__title{
        position: absolute;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-top: 5rem;
        margin-left: 2rem;
    }
    &__price{
        position: absolute;
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 2.8rem;
        line-height: 3.7rem;
        color: #07ACE6;
        margin-top: 6rem;
        margin-left: 2rem;
    }
    &__offer{
        position: absolute;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 0.9rem;
        margin-top: 10rem;
        margin-left: 2rem;
    }

    &__list{
        position: absolute;
        margin-left: 13rem;
        margin-top: 4rem;
        list-style: none;
        position: absolute;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.2rem;

        &__date{
            margin-bottom: 0.5rem ;
        }
    }    

    &__button{
        position: absolute;
        border-radius: 1.5rem;
        background: #07ACE6;
        border: transparent;
        color: white;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 1.1rem;
        padding-left: 3.6rem;
        padding-right: 3.6rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 15.7rem;
        margin-left: 5.9rem;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
    }
}

.article__premium{
    position: relative;
    width: 18.3rem;
    height: 15.6rem;
    border: 1px solid #55DFB4;
    border-radius: 1.1rem;
    margin-top: 4rem;
    margin-left: 2.56rem;

    &__title{
        position: absolute;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-top: 5.5rem;
        margin-left: 3.1rem;
    }

    &__price{
        position: absolute;
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 2.87rem;
        line-height: 3.8rem;
        color: #55DFB4;
        margin-left: 3.1rem;
        margin-top: 7rem;

    }

    &__offer{
        position: absolute;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 0.9rem;
        margin-top: 11rem;
        margin-left: 3.3rem;
    }

    &__list{
        position: absolute;
        margin-left: 11rem;
        margin-top: 4rem;
        list-style: none;
        position: absolute;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.2rem;

        &__date{
            margin-bottom: 0.5rem ;
        }
    }
}