.footer{
    box-shadow: 0px -5px 40px 0px #00000033;
    margin-top: 2rem;
    padding-bottom: 1rem;


    &__container{
        position: relative;
        display: inline-block;

        &__title{
            font-family: "Raleway";
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 1.8rem;
            margin-top: 1rem;
            margin-left: 1rem;;
            color: #08A6E4;
        }
    
        &__copyright{
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 0.68rem;
            line-height: 0.93rem;
            color: #A5A5A5;
            margin-top: 0.7rem;
            margin-left: 1rem;
        }
    }

    &__facebook{
        margin-left: 18rem;
        margin-top: 2rem;
        position:absolute;
    }

    &__twitter{
        margin-left: 15.31rem;
        margin-top: 2rem;
        position: absolute;
    }
}