.title__princings{
    text-align: center;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.6rem;
    margin-top: 3rem;
}
.article__basic{
    width: 18.31rem;
    height: 15.6rem;
    border: 1px solid #FB3B64;
    border-radius: 1.1rem;
    margin-left: 2.5rem;

    &__container{
        display: inline-block;

        &__title{
            font-family: "Raleway";
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1.3rem;
            margin-left: 1.5rem;
            margin-top: 3rem;
        }
    
        &__pricing{
            font-family: "Open Sans";
            font-weight: 300;
            font-size: 2.8rem;
            line-height: 4rem;
            color: #FB3B64;
            margin-left: 1.5rem;
        }

        &__list{
            display: inline;
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 1.2rem;
            text-align: start;
            list-style: none;
        }
    }


        &__button{
            width: 9.37rem;
            height: 3.1rem;
            border-radius: 1.43rem;
            background-color: #EB476E;
            color:white;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 0.8rem;
            line-height: 1rem;
            border: transparent;
            margin-top: 2.2rem;
            margin-left: 4.3rem;
        }
}
