.navbar{
    width: 375px;
    height: 70px;

    &__title{
        display:inline-block;
        width: 206px;
        height: 37px;
        margin-top: 17px;
        margin-left: 25px;
        color: #08A6E4; 
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        position: absolute;
        margin-bottom: 0;
    }
    &__image{
        display: inline-block;
        width: 20px;
        margin-top: 29px;
        margin-left: 325px;
        position: relative;
    }
}